<footer id="site-footer" class="w-screen p-8 bg-container-dark text-light-alt font-light text-xs lg:text-sm xl:text-md">
    <div id="footer-content" class="max-w-[850px] m-auto">
        <div id="site-information" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div id="service-information">
                <div id="organisation-identity" class="flex flex-col items-center sm:items-start">
                    <img id="organisation-logo" src="{{asset "images/kubs-website-logo.png"}}" class="max-h-18"/>
                    <p id="copyright-notice" class="my-4">VISAS TIESĪBAS AIZSARGĀTAS<br>© FORUMS KUBS 2024</p>
                </div>
                <div id="developer-information" class="flex flex-col items-center sm:items-start">
                    <img id="developer-logo" src="{{asset "images/alens-requisites-logo.svg"}}" class="max-h-6 mt-4 mb-2"/>
                    <h4 id="developer">Developed by <a class="text-light" href="https://alens.lv">Alens Aleksandrs Čerņa</a></h4>
                </div>
                <div id="maintainer-information" class="flex flex-col items-center sm:items-start">
                    <img id="maintainer-logo" src="{{asset "images/rendezvous-requisites-logo.svg"}}" class="max-h-4 mt-4 mb-2"/>
                    <h4 id="maintainer">Maintained by <a class="text-light" href="https://rendezvous.lv">SIA "Rendezvous"</a></h4>
                </div>
            </div>
            <div id="organisation-information" class="text-center sm:text-left">
                <div id="organisation-requisites">
                    <h4 id="organisation-name" class="cursor-pointer font-medium text-light">Biedrība “Forums KUBS”</h4>
                    <p id="organisation-registration-number">REĢ.NR. 40008335520</p>
                    <p id="organisation-address" class="">ADRESE: Latvija, Ķekavas nov., Ķekavas pag., "Celmiņi"</p>
                    <p id="organisation-mail-index">PASTA INDEKSS: LV-2113</p>
                    <p id="organsisation-telephone-number" class="cursor-pointer hover:underline">TEL: +371 20548393</p>
                    <p id="organisation-email" class="cursor-pointer hover:underline">E-PASTS: INFO@FORUMSKUBS.LV</p>
                    <p id="organisation-bank" class="mt-4">“Swedbank” AS</p>
                    <p id="organisation-bank-code">KODS: HABALV22</p>
                    <p id="organisation-bank-number" class="cursor-pointer hover:underline">KONTA NUMURS: LV59HABA0551057830840</p>
                </div>
            </div>
            <div id="site-map" class="grid grid-cols-1 text-center sm:text-left sm:grid-cols-3 col-span-1 sm:col-span-2 md:grid-cols-1 md:col-span-1">
                <div id="page-links" class="flex flex-col mb-2">
                    <h6 class="font-medium text-light mb-2">Mājaslapas karte</h6>
                    <a class="cursor-pointer hover:text-light my-1">Forums KUBS komanda</a>
                    <a class="cursor-pointer hover:text-light my-1">Ziņu lapa</a>
                    <a class="cursor-pointer hover:text-light my-1">Kontakti</a>
                </div>
                <div id="useful-links" class="flex flex-col mb-2">
                    <h6 class="font-medium text-light mb-2">Noderīgi resursi</h6>
                    <a class="cursor-pointer hover:text-light my-1">Galerija</a>
                    <a class="cursor-pointer hover:text-light my-1">Atbalstītāji</a>
                </div>
                <div id="content-links" class="flex flex-col mb-2">
                    <h6 class="font-medium text-light mb-2">Mūsu normatīvie akti</h6>
                    <a class="cursor-pointer hover:text-light my-1">Biedrības statūti</a>
                    <a class="cursor-pointer hover:text-light my-1">Vēlēšanu nolikums</a>
                    <a class="cursor-pointer hover:text-light my-1">Datu drošības un privātuma politika</a>
                    <a class="cursor-pointer hover:text-light my-1">Mājaslapas lietošanas noteikumi</a>
                </div>
            </div>
        </div>
    </div>
</footer>