<div class="max-w-[235px] flex flex-col items-center ">
    <img class="w-24 my-4 aspect-square rounded-xl bg-red" src="{{src}}" alt="{{title}}" />
    <div class="my-2 font-regular text-center">
        <h1 class="">{{title}}</h1>
    </div>
</div>