{{!< default}}
<div id="index-page-contents" class="py-8">
    <div class="contained grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {{#foreach posts limit="3"}}
            {{> "card" page=../pagination.page }}
        {{/foreach}}
    </div>
    <div class="contained grid grid-cols-1 md:grid-cols-2 py-8">
        <div class="w-full">
            <img src="{{asset "images/kubs-event-image.png"}}" class="md:hidden lg:block"/>
            <img src="{{asset "images/kubs-square-event-image.png"}}" class="hidden md:block lg:hidden"/>
        </div>
        <div class="md:pl-8">
            <h3 id="partner-title" class="text-3xl md:text-4xl font-extrabold mt-8 mb-2">Kas ir Forums KUBS?</h3>
            <p class="font-light text-justify">KUBS ir vieta, kur Tu pirmo reizi patiesi iepazīsti un sadarbojies ar citu augstākās izglītības iestāžu studentu pašpārvaldēm. Dalībniekiem tā ir unikāla iespēja veidot vērtīgus kontaktus un iepazīt dažādas augstākās izglītības iestādes, savukārt organizatoriem – iespēja pārbaudīt un attīstīt savas komandas darba prasmes, sadarbojoties ar citu augstskolu pārstāvjiem.<br><br>Tā ir dinamiska platforma aktīviem studentiem, kur satikties, veidot kontaktu tīklu un, pats galvenais, iegūt pieredzi, kas paliks līdzi visu mūžu. KUBS ir projekts bez aizspriedumiem un slēptiem nolūkiem – tas sniedz enerģiju, iedvesmu un iespēju personīgajai izaugsmei ikvienam, kurš tajā iesaistās.</p>
        </div>
    </div>
    <div class="w-full my-8">
        <img src="{{asset "images/visual-long-insert-image.png"}}" class="hidden md:block m-auto"/>
        <img src="{{asset "images/visual-insert-image.png"}}" class="block md:hidden"/>
    </div>
    <div class="">
        <div class="contained">
            <h3 id="partner-title" class="text-3xl md:text-4xl font-extrabold mb-2">Sadarbības partneri</h3>
            <div>
                <p class="md:columns-2 font-light text-justify">Sadarbības partneru atbalsts ir neatņemama daļa no sadarbības foruma. Tieši šāds atbalsts sniedz studentiem iespēju iegūt vērtīgas zināšanas un prasmes, kas noderēs gan viņu personīgajā, gan profesionālajā izaugsmē. Pateicoties mūsu partneru iesaistei, studenti var piedalīties mācību un attīstības pasākumos, kuros tiek attīstītas viņu līderības spējas, komunikācija un spēja risināt problēmas. Šīs prasmes ir būtiskas, lai kļūtu par kompetentiem un atbildīgiem profesionāļiem un pārstāvjiem. Mūsu partneri nodrošina studentiem iespēju ne tikai mācīties no pieredzējušiem ekspertiem, bet arī attīstīt praktiskas iemaņas.</p>
            </div>
        </div>
        <div class="bg-container-dark p-8 text-light my-8">
            <div class="contained flex flex-col items-center sm:grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Adazu.png" title="Ādažu Čipsi"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_APF.png" title="APF"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_AXA.png" title="AXA"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_BaltijasDarzeni.png" title="Baltijas dārzeņi"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Bella.png" title="Bella"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_BrainGames.png" title="Brain Games"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Dlight.png" title="Dlight"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_DruvasSaldejums.png" title="Druvas saldējums"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Ezerkaulini.png" title="Ezerkaulini"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Futbolgolfs.png" title="Futbolgolfs"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_GIT.png" title="GIT"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Gutta.png" title="Gutta"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Hematogenas.png" title="Hematogens"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Kaija.png" title="KAIJA"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Kombuca.png" title="Kombuca"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Kurzemes.png" title="Kurzemes Gaļsaimnieks"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Latgale.png" title="Latgales piens"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Merrild.png" title="Merrild"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Oyakata.png" title="OYAKATA"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_PapardesZieds.png" title="Papardes Zieds"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_PBTelpa.png" title="PB Telpa"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_RedBull.png" title="Red Bull"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Somersby.png" title="Somersby"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Spilva.png" title="Spilva"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_Swedbank.png" title="Swedbank"}}
                {{> "sponsor" src="/assets/images/sponsors/sponsor_VeryBerry.png" title="Very Berry"}}
            </div>
        </div>
    </div>
    <div class="contained">
        <h3 id="partner-title" class="text-3xl md:text-4xl  font-extrabold mb-2 mt-8">Studējošo pašpārvaldes</h3>
        Forums "KUBS" seminārā piedalās delegāti no Latvijas augstāko izglītības iestāžu studējošo pašpārvaldēm.
        <div class="contained flex flex-col items-center sm:grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
            {{> "member" src="/assets/images/members/member_BA.png" title="Banku augstskolas Studējošo pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_EKA.png" title="Ekonomikas un Kultūras augstskolas Studentu pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_LBTU.png" title="Latvijas Biozinātņu un tehnoloģiju universitātes Studējošo pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_LKA.png" title="Latvijas Kultūras akadēmijas Studējošo pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_LNAA.png" title="Latvijas Nacionālā aizsardzības akadēmijas Krīvu padome"}}
            {{> "member" src="/assets/images/members/member_LU.png" title="Latvijas Universitātes Studentu padome"}}
            {{> "member" src="/assets/images/members/member_RISEBA.png" title="RISEBA Studentu pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_RSU.png" title="Rīgas Stradiņa universitātes Studējošo pašpārvalde"}}
            {{> "member" src="/assets/images/members/member_RTU.png" title="Rīgas Tehniskās universitātes Studentu parlaments"}}
            {{> "member" src="/assets/images/members/member_Turiba.png" title='Biznesa augstskolas "Turība" Studējošo pašpārvalde'}}
            {{> "member" src="/assets/images/members/member_VEA.png" title="Ventspils Augstskolas Studentu padome"}}
            {{> "member" src="/assets/images/members/member_ViA.png" title="Vidzemes Augstskolas Studentu apvienība"}}
        </div>
    </div>
</div>