@import "tailwindcss";


@theme {
    --color-container-dark: #141414; /* Default dark container background color */
    --color-container-light: #FEFEFE; /* Default dark container background color */
    --color-light: #FEFEFE; /* Default light text color */
    --color-light-alt: #AAAAAA; /* Alternative light text color */
    --color-dark: #141414; /* Default dark text color */
    /* ... */
}

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/kanit/v7/ft8oF8by3bUzvAg_b7mRjA.woff2") format("woff2");
}

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("https://fonts.gstatic.com/s/kanit/v7/ft8oF8by3bUzvAg_p7mRjA.woff2") format("woff2");
}

.contained {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}
